 .mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}


body{
  background-image:url(https://c4.wallpaperflare.com/wallpaper/506/921/139/nature-moving-backgrounds-desktop-wallpaper-thumb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
#container{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsgbkLYgbTGcmkjiB7LgVRCMmdO_xcTkWAOg&s);
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}
h3,p{
  color: aliceblue;
  font-weight: bold;
}
h1{
  text-align: center;
  text-decoration: underline;
  color: rgb(13, 44, 198);
}